.label-verb {
  color: pink;
  font-weight: bold;
}

.label-noun_phrase {
  border: 1px solid green;
  padding: 2px 4px;
  border-radius: 4px;
  display: inline-block;
}

.nested-group {
  margin-right: 4px;
  display: contents;
}

.semantic-sentence-labels {
  font-size: 1;
}
.semantic-sentence-labels > span {
  font-size: 1rem;
}

.nested-group {
  display: inline-block;
  margin-right: 4px;
  background-color: rgba(173, 216, 230, 0.4); /* light blue */
  border-radius: 4px;
  padding: 1px 3px;
}