.highlighted-sentence > span {
  transition: background-color 0.3s;
  background-color: transparent; /* 默认无背景 */
  border-radius: 4px;
  padding-top: 1px; /* 提前就设好 */
  padding-bottom: 2px;
  display: inline;
}

/* 关键词高亮样式，仅在 hover 时显示 */
.highlight-keyword:hover {
  background-color: rgba(255, 255, 0, 0.4);
}

/* 聚焦高亮样式，仅在 hover 时显示 */
.highlight-focus:hover {
  background-color: rgba(200, 255, 0, 0.3);
}


.highlighted-sentence .hovered {
  background-color: rgba(0, 255, 100, 0.3);
  transition: background-color 0.2s ease;
}

.highlight.structure-subject {
  transition: background-color 0.3s ease;
}

.highlight.structure-subject.hovered {
  background-color: rgba(173, 216, 230, 0.5); /* LightBlue */
}

.highlight.structure-predicate {
  transition: background-color 0.3s ease;
}

.highlight.structure-predicate.hovered {
  background-color: rgba(144, 238, 144, 0.5); /* LightGreen */
}

.highlight.structure-object {
  transition: background-color 0.3s ease;
}

.highlight.structure-object.hovered {
  background-color: rgba(255, 182, 193, 0.5); /* LightPink */
}
/* 可按需定义 .structure-subject, .semantic-entity 等 */
