.sentence {
  display: inline;        /* Flow naturally like text */
  margin: 1px;            /* Remove default margin */
  padding: 1px;           /* Remove default padding */
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.sentence.hovered {
  background-color: rgba(69, 132, 241, 0.231);
}

.sentence.component {
  margin: 0;
  padding: 0;
}

.sentence.component.hovered {
  background-color: rgba(255, 30, 0, 0.205);
}