MODEL_ID=gemma-3-27b-it
QUIZ_WORKFLOW_MODEL_ID=gemini-2.5-flash
KNOWLEDGE_EXTRACTION_WORKFLOW_MODEL_ID=gemini-flash-lite-latest
CHAPTER_KEYWORDS_WORKFLOW_MODEL_ID=gemini-flash-lite-latest
API_KEY=
PORT=3000
